@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 100%;
    
    background-image: url(../images/cupcake-bg.jpg);
    background-size: auto;
    background-attachment: fixed;
}

body {
    margin: 0;
    padding: 0;
}

img {
	width: 100%;
    display: block;
}

/*--------------Header------------*/

header {

    background-color: teal;
}

.logo {
    height: 6rem;
    width: 100%;
    padding: .5rem;
}

.billboard {
    overflow: hidden;
    margin-top: 1rem;
    
    background-image: url(../images/cupcake1.jpg);
    background-color: brown;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
}

/*--------------Article------------*/

article {
    margin: .4rem 0 .4rem;
    overflow: hidden;
    background-color: white;
    
}

.wrapper{
    padding: 5%;
}

h1 {
    margin-top: 0;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: normal;
    font-size: 3rem;
    line-height: 3rem;
    letter-spacing: -.1rem;
}

h2 {
    margin: 16rem 0 1rem 0;
    padding: .34rem 5%;
    
    font-family: "Times New Roman", Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-weight: lighter;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    
    color: white;
    background-color: rgba(50, 1, 1, .6);
}

h3 {
    margin-top: 1.5rem;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2rem;
    color: teal;
    border-bottom: dotted 1px lightgrey;
}

h4 {
    font-weight: normal;
    font-size: .6rem;
    color: grey;
}

p {
    font-size: .9rem;
    line-height: 1.5rem;
}

.teal {
    color: teal;
}

.sandybrown {
    color: sandybrown;
}

figure {
    margin: 0 auto 1.5rem;
    width: 100%;
}

figcaption {
    font-size: .75rem;
    margin: 1rem 0 0;
}

/*--------------Menu Navigation------------*/

.menu_simple ul {
    margin: 0;
    padding: 0;
    width: auto;
    list-style-type: none;
}

.menu_simple ul li a {
    padding: 14px 11px;
    display:block;
    
    font-size: 1.5rem;
    font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
    font-weight: lighter;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    
    background-color: teal;
    border-bottom: solid #055 0px;
}
 
.menu_simple ul li a:visited {
    color: white;
}
 
.menu_simple ul li a:hover, .menu_simple ul li {
    color: black;
    background-color: sandybrown;
}

/*--------------Ribbon and Image------------*/

.side-corner-tag {
    position: relative;
    color: #000;
    display: inline-block;
    padding: .34rem;
    overflow: hidden;
    font-family: Arial, sans-serif;
    font-weight: 900;
    box-shadow: .2rem .2rem .9rem .2rem rgba(0, 0, 0, .2);      
    border: solid 0 rgba(255, 255, 255, .8);
}

.side-corner-tag p {
    display: inline;	
}
	
.side-corner-tag p span {
    position: absolute;
    display: inline-block;
	right: -25px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2), inset 0px 5px 30px rgba(255,255,255,0.2);
	text-align: center;
	text-transform: uppercase;
	top: 10px;
	background: sandybrown;
	width: 100px;
	padding: 3px 1px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
} 

.bakewrap {
    padding: .4rem 1rem .4rem 0;
    border-radius: .7rem;
    background-color: rgba(248, 220, 159, 0.2);
}

ul li {
    font-size: .9rem;
    line-height: 1.7rem;
}

ol li {
    font-size: .9rem;
    line-height: 1.5rem;
    margin-bottom: .5rem;
}

.logobox {
    width: 5rem;
    position: relative;
}

.innerbox {
    position: absolute;
    margin-top: 100%;
}

/*--------------Suggest Other Recipes------------*/

.suggestleft {
    float: left;
    display: inline;
    width: 50%;
    padding: 5%;
    margin: 0;
}

.suggestleft li, .suggestright li {
    list-style-type: none;
    margin-bottom: 2rem;
    line-height: 1.2rem;
    font-size: .8rem;
}

.suggestleft ul, .suggestright ul {
    margin: 0;
    padding: 5%;
}

.suggestleft li a, .suggestright li a {
    color: teal;
    text-decoration: none;
}

.suggestleft li a:hover, .suggestright li a:hover {
    color: sandybrown;
    text-decoration: underline;
}

.suggestright {
    margin: 0;
    padding: 5%;
    float: right;
    display: inline;
    width: 50%;
}

.suggest {
    margin-bottom: .5rem;
    padding: .4rem;
    width: 95%;
    height: absolute;
    box-shadow: .1rem .1rem .6rem .1rem rgba(0, 0, 0, .2);      
    border: solid 0 rgba(255, 255, 255, .8);
    background-color: white;
}

/*-------------- Footer ------------*/

footer {
    margin: 0 auto;
    overflow: hidden;
    height: 20rem;
    margin: 0 auto;
    background-color: teal;
}

hr {
    float: left;
    width: 100%;
    border: .1rem solid #000;
}

hr + p {
    margin: 0;
    padding: 0  5%;
    float: left;
}